<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd  
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="locations">
			<list>
				<value>classpath:/jdbc.properties</value>
			</list>
		</property>
	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${mysql.jdbc.driverClassName}"></property>
		<property name="jdbcUrl" value="${mysql.jdbc.url}"></property>
		<property name="user" value="${mysql.jdbc.username}"></property>
		<property name="password" value="${mysql.jdbc.password}"></property>
		<property name="acquireIncrement" value="${mysql.jdbc.acquireIncrement}"></property>
		<property name="initialPoolSize" value="${mysql.jdbc.initialPoolSize}"></property>
		<property name="maxIdleTime" value="${mysql.jdbc.maxIdleTime}"></property>
		<property name="maxPoolSize" value="${mysql.jdbc.maxPoolSize}"></property>
		<property name="minPoolSize" value="${mysql.jdbc.minPoolSize}"></property>
		<property name="acquireRetryDelay" value="${mysql.jdbc.acquireRetryDelay}"></property>
		<property name="acquireRetryAttempts" value="${mysql.jdbc.acquireRetryAttempts}"></property>
		<property name="breakAfterAcquireFailure" value="${mysql.jdbc.breakAfterAcquireFailure}"></property>
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:mybatis/config.xml" />
		<property name="mapperLocations" value="classpath:mybatis/mapper/*.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<context:annotation-config />
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
</beans>
